<div class="foot-master">
        <div class="foot-logos">
            <a href="http://im.ufba.br/">
                <img id="logoIM" src="/designs/themes/suburmidias/images/logoim.png">
            </a>
            <a href="https://www.facom.ufba.br/portal/">
                <img id="logoFacom" src="/designs/themes/suburmidias/images/logofacomt.png">
            </a>
            <a href="http://wiki.dcc.ufba.br/DCC/">
                <img id="logoDCC" src="/designs/themes/suburmidias/images/logodcc.png" >
            </a>
            <a href="https://www.ondadigital.ufba.br/">
        	   <img id="logoOnda" src="/designs/themes/suburmidias/images/logoOndaDigital.png" alt="LogoOndaDigital">
            </a>
            <a href="http://www.etnomidia.ufba.br/">
                <img id="logoEtno" src="/designs/themes/suburmidias/images/logoetnomidia.png">
            </a>
        </div>
        <div class="foot-links">
        	<h4>LINKS</h4>

           <ul class="list unstyled">
             <li><a class="footer-a" href="https://noosfero.ufba.br/suburmidias"><i></i>Home</a></li>
             <li><a class="footer-a" href="https://noosfero.ufba.br/suburmidias/quem-somos"><i></i>Sobre</a></li>
             <li><a class="footer-a" href="https://noosfero.ufba.br/suburmidias/como-publicar"><i></i>Como publicar?</a></li>
             <li><a class="footer-a" href="https://noosfero.ufba.br/suburmidias/idealizacao"><i></i>Idealização</a></li>
           </ul>
        </div>
        <div class="foot-faleconosco">
        <h4>FALE CONOSCO</h4>
        <address>
            <i class="fa fa-map-marker"></i><span >Universidade Federal da Bahia (UFBA)</span>
        </address>

        <p><a href="tel:(71) 3283-6765/6293"><i class="fa fa-phone"></i>(71) 3283-6765/6293</a></p>
        <ul class="list unstyled" id="redes-sociais">
            <li><a id="facebook" href="https://www.facebook.com/suburmidia/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
						<li><a id="email" href="suburmidia2017@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        </div>
        <div id="footer-final"><p class="pull-left">Copyleft © 2017 Projeto Suburmídias - <span id="footer-bold">Universidade Federal da Bahia</span></p></div>
       </div>
