<nav>
	<div id="menu-logo"><a href="https://noosfero.ufba.br/suburmidias"><img src="/designs/themes/suburmidias/images/logo.png" alt="SuburMídias-Logo"/></a></div>
	<ul id="menu">
		<li><a href="https://noosfero.ufba.br/suburmidias/quem-somos">Quem somos?</a></li>
		<li><a href="https://noosfero.ufba.br/suburmidias/como-publicar">Como publicar?</a></li>
		<li><a href="https://noosfero.ufba.br/suburmidias/deixe-seu-contato">Deixe seu contato</a></li>
		<li><a href="#">Linguagens</a>
			<ul id="submenu-linguagens">
			<li><a href="https://noosfero.ufba.br/suburmidias/teatro">Teatro</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/danca/">Dança</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/musica">Música</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/feiras">Feiras</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/audiovisual">Audiovisual</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/shows">Shows</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/break">Break</a></li>
			<li><a href="https://noosfero.ufba.br/suburmidias/hip-hop">Hip-Hop</a></li>
			</ul>
		</li>
		<li><a href="https://noosfero.ufba.br/suburmidias/recursos-livres">Recursos livres</a></li>
	</ul>
	</nav>
