@import url(../profile-base/style.css);

/************************** user bar ***************************/
body{
}
#user{

}
#site-title{
    display: none;
}
#wrap-1{
  width: 80%;
}
#wrap-2{
    position: initial;
}
nav{
    height: 100%;
    padding: 15px;

}
#theme-header{
    width: 100%;
    border: 3px solid black;
    height: 90px;
    margin-bottom: 40px;
    margin-top: 50px;
    background-image: url('/designs/themes/suburmidias/images/img1.png');
    background-repeat: repeat-x;
    background-position: center center;
}
#menu-logo{
	float: left;
	margin-right: 50px;
    border: 5px solid black;
}#menu a{
    color: white;
    font-weight: bold;
}
#menu-logo img{
   height: 90px;
}
#menu{
	list-style: none;
	display: inline-flex;
	border:2px solid #c0c0c0;
    padding: 20px;
    background-color: black;
    float: right;
    padding: 15px;
}
#menu li{
	position: relative;
	float: left;
	border-right: 1px solid #c0c0c0;
    a{
       text-decoration: none;
	   padding: 5px 10px;
	   display: block;
    }
}
#menu li a:hover{
	text-decoration: underline;
}
#submenu-linguagens{
	position: absolute;
	display: none;
	top: 23px;
	left: 0;
    background-color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#menu li:hover ul, #menu li.over #submenu-linguagens{display:block; position: absolute;}

#submenu-linguagens li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}
#submenu-linguagens li:hover{
    background-color: white;
    border: 1px solid black;
    a {
        color: black;
    }
}


/************************** content ***************************/
body{
    background-color: beige;
}
#content .block-title,
#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom:2px solid #2E3436;
  color: #2E3436;
}

.profile-image-block p {
  color: #2E3436;
}

.block a {
  color: #2E3436;
}

.block a:visited {
  color: #555753;
}

.control-panel a,
.control-panel a:visited {
  color: #000;
}

.controller-profile_editor .control-panel a:hover {
  background-color: #2E3436;
  color: #FFF;
}

#content .link-list-block li a:hover {
  background-color: #2E3436;
}

#content .link-list-block li a.link-this-page {
  background-color: #555753;
  border-right:2px solid #2E3436;
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-left: 2px solid #2E3436;
}
#content-inner{
    display: -moz-inline-stack;
}
/************** blog **************/

#content .blog-post .title a:hover {
  color: #2E3436;
}

/**************************** Comments *******************************/

#content .comments h3 {
  color: #2E3436;
  border-bottom: 2px solid #2E3436;
}

.post_comment_box h4 {
  background-color: #2E3436;
  color: #FFF;
}

/************************** theme footer ***************************/

#theme-footer{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    position: static;
    background-image: url('/designs/themes/suburmidias/images/img1.png');
    background-repeat: repeat-x;
    background-position: center center;
    border-top: 3px solid black;
    png{
        opacity: 0.8;
    }
}
footer{
	font-family: sans-serif;
	width: 100%;
}
h4{
	font-weight: bold;
	text-align: center;
	/*line-height: 2; */
	margin-top: -20px;
    font-size: 12pt;
}
ul{
	list-style: none;
	text-align: center;
    font-size: 9pt;
}
 .foot-master{
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	color: white;
}
.foot-logos{
	width: 30%;
	float: left;
    img{
        height: 50px;
        width: 50px;
        background-color: white;
        margin-top: 60px;
        margin-left: 20px;
    }
}
.foot-links{
	margin-top: 20px;
	width: 30%;
	float: left;
	padding-top: 35px;
    a:hover{
        color: black;
    }
}
.foot-links ul{
    line-height: 15pt;
    margin-right: 40px;
}
.foot-faleconosco{
	float: right;
	width: 25%;
	margin-right: 130px;
	margin-top: 20px;
	padding-top: 35px;
    font-size: 12pt;
    #local{
        text-align: center;
    }
    address{
        text-align: center;
        font-weight: bold;
    }
    p{
        text-align: center;
    }
}
.foot-faleconosco ul{
    display: inline-flex;
}
.foot-faleconosco i{
    margin: 0px 10px;
}
.foot-faleconosco ul li{
    margin: 0px 20px;
    a:hover{
        color: white;
    }
}
#redes-sociais{
    padding-left: 35%;
    margin: auto;
    #facebook:hover{
        color: #3b5998;
    }
    #instagram:hover{
        color: #ff6600;
    }
    #twitter:hover{
        color: #00aced;
    }
    #email:hover{
        color: #bb0000;
    }
}
#footer-final{
	border-top: 1px solid black;
	clear: both;
	text-align: center;
	padding: 7px;
    background-color: black;
    color: white;
}
#footer-bold{
	font-weight: bold;
}
.pull-left{
    float: initial;
    margin: 5px;
    font-size: 11pt;
}
#theme-footer a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	text-align: left;
    a:hover{
        color: white;
    }
}
